<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
  例如：namespace="edu.wzm.mybatis.mapping.PersonMapper"(userMapper.xml文件去除后缀)
-->
<mapper namespace="edu.wzm.dao.PersonDao">
    <insert id="addPerson">
        INSERT INTO person(
                          first_name,
                          last_name,
                          age)
               VALUES (#{person.firstName},
                       #{person.lastName},
                       #{person.age})
    </insert>

    <select id="findAll" resultMap="PersonMap">
    SELECT
          id,
          first_name,
          last_name,
          age
    FROM person
  </select>

    <resultMap id="PersonMap" type="Person">
        <id column="id" property="id" javaType="int"/>
        <result column="first_name" property="firstName" javaType="String"/>
        <result column="last_name" property="lastName" javaType="String"/>
        <result column="age" property="age" javaType="int"/>
    </resultMap>
</mapper>